<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/hopper.css">
    <link rel="manifest" href="/manifest.json">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Weather PWA">
    <link rel="apple-touch-icon" href="img/icon-192.png">

    <title>Hopper</title>
  </head>

  <body>

    <div class="navbar">
        <div class="hamburger">
          <div></div>
          <div></div>
          <div></div>
        </div>
      <div class="brand">Hopper</div>
      <div class="spacing"></div>
      <div class="refresh"><img src="img/refresh.png"></div>

    </div>

    <div class="content">

      <div class="sidebar">

        <div class="header">
          <div>
            <div class="title">Hopper</div>
            <div class="desc">An RSS feed reader</div>
          </div>
          <div class="back"><img src="img/backArrow.svg"></div>
        </div>

        <div class="body">
          <div class="filters">

            <div class="filter btn home"><img src="img/home.png"><p>Home</p></div>

            <div class="filter new"><div><img src="img/plus.png"></div><div class="newFilter"><div><input type="text" placeholder="RSS URL"></input></div><div class="newRssSubmit">Add</div></div></div>

          </div>

          <div class="recommended">Recommended Feeds</div>
          <div class="vertSpacing"></div>
          <div class="edit"><img src="img/edit.png"></div>
        </div>

      </div>

      <div class="feed">

        

      </div>

    </div>

    <script type="text/javascript" src="/scripts/hopper.js"></script>
  </body>
</html>
