body {
  font-family: Times New Roman;
}

.navbar {
  background: #55B572;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  box-shadow: 0px 1px 2px 0px #444;
  z-index: 2;

  display: flex;
  align-items: center;
}

.brand {
  float: left;
  margin-left: 3%;
  font-weight: bold;
  color: black;
}

.refresh {
  margin-right: 30px;
  cursor: pointer;
}

.refresh > img {
  width: 35px;
}


/* Sidebar */

.sidebar .body {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.sidebar .filters {
  min-width: 220px;
  margin: 0 0 0 35px;
  padding: 40px 10px 0 0;

  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar .filter {
  margin-bottom: 10px;
  height: 24px;

  display: flex;
  align-items: center;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.sidebar .filter.hide {
  opacity: 0;
  margin-bottom: 0px;
  height: 0px;
  transition: opacity 0.2s, margin 0.5s, height 0.5s;

  pointer-events: none;
}

.sidebar .filter .btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar .delete {
  height: 18px;
}

.sidebar .filter .delete img {
  opacity: 0;
  cursor: none;
  pointer-events: none;
  transition: opacity 0.5s;
}

.sidebar .filter .delete.on img {
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
}

.sidebar .filter.new > div:nth-child(1) {
  width: 24px;
  margin-right: 10px;
}

.sidebar .filter.new {
  align-items: flex-start;
  width: 30px;
  height: 30px;

  padding-bottom: 2px;

  overflow:hidden;
  transition: width 0.5s;
}

.sidebar .filter.new img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.sidebar .filter.new.open {
  width: 100%;
  padding: 0 2px 2px 0;
}

.sidebar .filter.new.open .newFilter {
  display: flex;
  opacity: 1;
  transition: opacity 0s 0s;
  pointer-events: auto;
}

.sidebar .filter.new .newFilter {
  flex: 1;

  display: flex;
  align-items: center;

  opacity: 0;
  transition: opacity 0s 0.5s;
  pointer-events: none;
}

.sidebar .filter.new input{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.sidebar .filter.new .newRssSubmit{
  display: flex;
  align-items: center;

  height: 100%;

  padding: 4px 6px;
  margin-left: 5px;
  border: 1px solid #153F21;
  border-radius: 3px;

  font-size: 85%;
  cursor: pointer;

  background: #55B572;
}

.sidebar .filter img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

.sidebar .filter.home img {
  width: 24px;
  height: 24px;
}

.sidebar .filter .delete > img {
  width: 18px;
  height: 18px;
  margin-left: 7px;
}

.sidebar .filter p {
  margin: 0;
  font-size: 110%;
  white-space: nowrap;
}

.sidebar .vertSpacing {
  flex: 1;
}

.sidebar .edit > img {
  width: 20px;
  padding: 4px;
  border-radius: 4px;
  background: #4B84C4;

  float: right;

  position: relative;
  right: 3vh;
  bottom: 3vh;

  box-shadow: 0px 0px 3px #555;

  transition: 0.1s;

  cursor: pointer;
}

.sidebar .edit.clicked > img {
  background: #3B5D86;
  box-shadow: 0px 0px 1px #555;
}


/* Feed */

.feed {
  overflow-y: auto;
  background: #E1DEDC;
}

.loading {
  width: 24px;
  height: 24px;

  border: 7px solid #55B572;
  border-right-color: transparent;
  border-radius: 50%;

  background: #fff;
  margin: 15px auto;

  animation: spin 1s linear infinite, slideDownLoading 0.2s linear 0s 1 forwards;
}

.loading.hide {
  animation: slideUpLoading 0.2s linear 0s 1 forwards;
}

@keyframes spin {
  from {transform: rotate(0deg); opacity: 0.4;}
  50%  {transform: rotate(180deg); opacity: 1.0; }
  to   {transform: rotate(360deg); opacity: 0.4}
}

@keyframes slideDownLoading {
  from {margin-top: -40px;}
  to   {margin-top: 15px;}
}

@keyframes slideUpLoading {
  from {margin-top: 15px;}
  to   {margin-top: -40px;}
}

.feed > .card:nth-child(1).display{
  animation: showSlowly 0.5s ease-in 0s 1 forwards, slideUp 0.5s ease-out 0s 1 forwards;
}

@keyframes slideUp
{
  from {margin-top: 40vh}
  to   {margin-top: 10px}
}

@keyframes showSlowly
{
  from {opacity: 0.1}
  to {opacity: 1}
}

.card {
  display: flex;
  align-items: center;
  margin: 10px;

  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 3px #aaa;

  cursor: pointer;
}

.card.display {
  animation: showSlowly 0.5s ease-in 0s 1 forwards;
}


.card .info {
  width: 100%;
  padding: 0 10px 0 15px;
}

.card .moreInfo {
  display: flex;
  align-items: center;
  margin: 15px 0 10px 0;
}

.card .moreInfo .comments {
  flex-grow: 2;
}

.spacing {
  flex: 1;
}

.card .moreInfo .timestamp {
  margin-right: 15px;
}

.card .info .rssSource {
  padding-left: 8px;
}

.card .info .rssSource > img {
  width: 28px;
}

/* Utility */
.newRssSubmit {
  box-shadow: 0px 1px 1px #666;
}

.newRssSubmit.clicked {
  box-shadow: none;
}

@media only screen and (max-width: 899px) {
  .navbar {
    height: 12%;
  }

  .hamburger {
    float: left;
    margin-left: 20px;
    margin-right: 15px;

    cursor: pointer;
  }

  .hamburger > div{
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 7px 0px;
    border-radius: 5px;
  }

  .brand {
    font-size: 2.5em;
  }

  .sidebar {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;

    transition: width 0.5s;


    overflow-x: hidden;

    box-shadow: 0px 1px 2px 0px #444;
    background: #349C54;
  }

  .sidebar.open {
    width: 80%;
  }

  .sidebar .header {
    height: 17%;

    display: flex;
    align-items: center;
  }
  
  .sidebar .header > div:nth-child(1) {
    flex-grow: 1;
  }
  .sidebar .header .title {
    padding: 15px 20px 0 20px; 
    font-size: 5vh;
    font-weight: bold;
  }

  .sidebar .header .desc{
    padding: 15px 0 0 30px;
    font-size: 2.5vh;
    width: 100%;
  }

  .sidebar .header .back {
    margin-right: 20px;

    cursor: pointer;
  }

  .sidebar .header .back > img {
    height: 6vh;
  }

  .sidebar .body {
    height: 83%;
  }

  .feed {
    position: absolute;
    top: 12%;
    left: 0%;
    height: 88%;
    width: 100%;
  }

}

@media only screen and (min-width: 900px) {
  .navbar {
    height: 8%;
  }

  .hamburger {
    display: none;
  }

  .brand {
    font-size: 4vh;
  }

  .content {
    display: flex;

    position: absolute;
    top: 8%;
    left: 0;
    height: 92%;
    width: 100%;
  }

  .sidebar {
    z-index: 1;
    flex: 1;
    max-width: 450px;

    box-shadow: 1px 0 1px #bbb;
  }


  .sidebar .header {
    display: none;
  }

  .sidebar .body {
    height: 100%;
  }

  .feed {
    flex: 4;
  }

}
